%h3 Next Actions
%table.table.table-hover
  %thead
    %tr
      %th Project
      %th= NextAction.human_attribute_name :name
      %th= NextAction.human_attribute_name :due
      %th Actions
  
  %tbody
    - for next_action in @next_actions
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to next_action.project.abbreviation, project_path(next_action.project), rel: 'tooltip', title: "#{next_action.project.name}"
        %td= next_action.name
        %td= next_action.due
        %td
          .btn-group
            %button.btn{class: 'btn-small'} Complete
            %button.btn.dropdown-toggle{:'data-toggle'=> 'dropdown', class: 'btn-small'}
              .caret
            %ul.dropdown-menu
              %li= link_to "Cancel", nil
              %li= link_to "Complete", nil
