%h3 Next Actions
%table.table
  %thead
    %tr
      %th Project
      %th= NextAction.human_attribute_name :name
      %th= NextAction.human_attribute_name :due
      %th{:colspan => 2} Actions
  
  %tbody
    - for next_action in @next_actions
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to next_action.project.name, project_path(next_action.project)
        %td= next_action.name
        %td= next_action.due
        %td.action= link_to 'edit', edit_next_action_path(next_action)
        %td.action= link_to 'delete', next_action, :confirm => 'Are you sure?', :method => :delete
