= form_for(@project, html: {class: 'form-horizontal'}) do |f|
  - if @project.errors.any?
    #errorExplanation.alert.alert-error
      %h2= "#{pluralize(@project.errors.count, 'error')} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
 
  %fieldset
    %legend Project Information  
    .control-group
      = f.label :name, class: 'control-label'
      .controls
        = f.text_field :name
        %p.help-block The project name
    .control-group
      = f.label :abbreviation, class: 'control-label'
      .controls
        = f.text_field :abbreviation
    .control-group
      = f.label :due, class: 'control-label'
      .controls
        = f.text_field :due
        %p.help-block The date the project is due
    .form-actions
      = f.submit 'Submit', class: 'btn btn-primary'
