%h1 Projects
%p= link_to 'New project', new_project_path, class: 'btn'

%table.table
  %thead
    %tr
      %th Name
      %th Due
      %th{style: 'text-align: center'} Next Actions
      %th{:colspan => 2} Actions
  
  %tbody
    - for project in @projects
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to project.name, project
        %td= project.due
        %td{style: 'text-align: center'}= project.next_actions.count
        %td.action= link_to 'edit', edit_project_path(project)
        %td.action= link_to 'destroy', project, :confirm => 'Are you sure?', :method => :delete
